.field-icon .fa {
	line-height: 42px;
}


.sublevel-1 {
	display: inline-block;
	width: 20px;

}
.sublevel-1:AFTER {
	content: '----'
}

.sublevel-2 {
	display: inline-block;
	width: 40px;

}
.sublevel-2:AFTER {
	content: '--------'
}

.fileupload  .thumbnail {
	width: 45%;
	margin: 2.5%;
	overflow: hidden;
	height: 100px;

}
.fileupload  .thumbnail img{
	width: 100%;

}
.thumbnail.imgs_add {
	padding-top: 40px;

}
