
.smart-form {
	.toggle {
		margin-bottom: 4px;
		padding-right: 61px;
		font-size: 13px;
		line-height: 25px;
		color: #404040;
		cursor: pointer;

		&:last-child {
			margin-bottom: 0
		}

		input {
			position: absolute;
			left: -9999px
		}

		i {
			content: '';
			position: absolute;
			top: 4px;
			right: 0;
			display: block;
			width: 49px;
			height: 18px;
			border-width: 1px;
			border-style: solid;
			border-radius: 12px;
			background: #fff;

			&:after {
				content: attr(data-swchoff-text);
				position: absolute;
				top: 2px;
				right: 8px;
				left: 8px;
				font-style: normal;
				font-size: 9px;
				line-height: 13px;
				font-weight: 700;
				text-align: left;
				color: #5f5f5f
			}

			&:before {
				content: '';
				position: absolute;
				z-index: 1;
				top: 4px;
				right: 4px;
				display: block;
				width: 9px;
				height: 9px;
				border-radius: 50%;
				opacity: 1;
				transition: right .2s;
				-o-transition: right .2s;
				-ms-transition: right .2s;
				-moz-transition: right .2s;
				-webkit-transition: right .2s
			}
		}

		input:checked + i:after {
			content: attr(data-swchon-text);
			text-align: right
		}

		input:checked + i:before {
			right: 36px
		}

		&.w80 {
			i {  width: 80px; }
			input:checked + i:before { right: 65px }
		}
	}
}