$colorNormal : #2fb544;
$colorStrong : #108163;

a {
  color: $colorNormal;
  text-decoration: none;
}

.admin-form {
	.panel-info {
		&.heading-border:before, 
		.heading-border:before,
		> .panel-heading,
		> .panel-heading:before
		{
			background-color: $colorNormal;
		}
		> .panel-heading {
		  color: #ffffff;
		  background-color: $colorNormal;
		  border-color: $colorNormal;
		}
		
	}
	
	.switch-primary {
		> input:checked + label {
			background: $colorNormal;
			border-color: $colorNormal;
		}
		> input:checked + label:after {
			color: $colorNormal;
		}
		
		> input:hover + label {
			background: $colorStrong;
			border-color: $colorStrong;
		}
		
		> input:checked:focus + label {
			background: #2e76d6;
  			border-color: #2e76d6;
		}
	}
	
	.btn-primary {
		background-color: $colorNormal;
		&:hover,&:focus{
			background-color: $colorStrong;
		}
		&:active {
			background-color: #2e76d6;
		}
	}
	
	&.theme-info {
		.gui-input:focus,
		.gui-textarea:focus,
		.select > select:focus,
		.select-multiple select:focus {
			border-color: $colorStrong;
  			color: #3C3C3C;
  			~ .field-icon i {
  				color: $colorStrong;
  			}
		}
	}
	
}


/* Switch Option - Inline */
.switch.switch-inline {
  display: inline-block;
}
.switch.switch-inline + .switch.switch-inline {
  margin-left: 15px;
}
div.switch.switch-primary input:checked + label {
  background-color: #4a89dc;
}
div.switch.switch-success input:checked + label {
  background-color: #70ca63;
}
div.switch.switch-info input:checked + label {
  background-color:$colorNormal;
}
div.switch.switch-warning input:checked + label {
  background-color: #f6bb42;
}
div.switch.switch-danger input:checked + label {
  background-color: #e9573f;
}
div.switch.switch-alert input:checked + label {
  background-color: #967adc;
}
div.switch.switch-system input:checked + label {
  background-color: #37bc9b;
}
div.switch.switch-dark input:checked + label {
  background-color: #3b3f4f;
}

.text-info {
  color: $colorNormal;
  &:hover {
	  color: $colorStrong;
	}
}






