@charset "utf-8";

/* Responsive styles
-------------------------------------------------------------- */

/*
Apple iPhone 5, 5S & 5C 
Apple iPod Touch (5th generation)
*/
/* With side menu
@media (min-width: 1366px) and (max-width: 1679px) {
*/
/* Without side menu */
@media (min-width: 1136px) and (max-width: 1279px) {
	body {	font-size: 12px; }
    .search_opened .menu_main_nav_area {
        display: none;
    }
    .eg-vanburen-element-0-a {
        margin-top: 100px !important;
    }
    .woocommerce ul.products li.product .post_featured .hover_icon:before, .woocommerce-page ul.products li.product .post_featured .hover_icon:before,
    .isotope_wrap .isotope_item .post_featured .hover_icon:before {
        font-size: 30px;
    }
    .woocommerce-page .widget_price_filter .price_slider_amount .button:after, .woocommerce a.button:after, .woocommerce button.button:after, .woocommerce-page a.button:after, .woocommerce-page button.button:after, .woocommerce a.button.alt:after, .woocommerce button.button.alt:after, .woocommerce-page a.button.alt:after, .woocommerce-page button.button.alt:after, .woocommerce-account .addresses .title .edit:after, input[type="submit"]:after, input[type="button"]:after, button:after, .woocommerce-page ul.products li.product .add_to_cart_button:after, .sc_button:after {
        top: 8px;
    }
    .woocommerce div.product form.cart .button:after, .woocommerce-page .widget_price_filter .price_slider_amount .button:after, .woocommerce-page ul.products li.product .add_to_cart_button:after, .sc_button.sc_button_size_large:after {
        top: 10px;
    }
    .woocommerce .quantity input.qty, .woocommerce #content .quantity input.qty, .woocommerce-page .quantity input.qty, .woocommerce-page #content .quantity input.qty {
        height: 3.3em;
    }
    .sidebar_show.category .content, .sidebar_show.woocommerce .content {
        width: 610px;
    }
    .category .content .post_info .post_info_counters .post_counters_item {
        margin-left: 1.5em;
    }
    .category .content .post_info_date:before, .single .content .post_info_date:before, .blog .content .post_info_date:before {
        margin-right: 0.5em;
    }
    .bottom_arrow img {
        margin-top: -2px;
    }
    .sc_services_style_services-2 .sc_services_item {
        padding: 0.9em 2em 0;
    }
    .with_adr .sc_section .sc_section_content {
        padding: 1em 2.5em;
    }
    .content .post_item_404 .search_wrap.search_state_fixed .search_form_wrap .search_field {
        width: 24em;
    }
    .post_featured_left > .post_featured {
        width: 31.7%;
    }
    .comments_list_wrap .comment_content:after {
        left: 6.6em;
    }
    .widget_area .widget_calendar .month_prev a {
        margin: 0 0 14px 4px;
    }
    .widget_area .widget_calendar .month_next a {
        margin: 0 3px 14px 1px;
    }
    .widget_area .widget_calendar td .day_wrap {
        margin: 0 3px;
        padding: 0;
    }
    .sc_audio.sc_audio_image .sc_audio_container {
        width: 450px;
    }
}


/*
Apple iPhone 4 & 4S
Apple iPod Touch (4th generation)
*/
/* With side menu
@media (min-width: 1280px) and (max-width: 1365px) {
*/
/* Without side menu */
@media (min-width: 960px) and (max-width: 1135px) {
	/*body {	font-size: 11px; }*/
    body {	font-size: 12px; }
    .post_info_counters{
        float: right;
    }
    .slider_engine_revo .sc_button {
        padding: 0.55em 1em 0.6em !important;
    }
    .post_info .post_info_counters .post_counters_item {
        margin-left: 0;
    }
    .slider_engine_revo .sc_button:after {
        display: none;
    }
    .widget_nav_menu .current-menu-item a:after, .widget_nav_menu li a:hover:after {
        top: 12px;
        width: 16px;
        height: 16px;
        line-height: 16px;
    }
    .menu_main_nav > li > a {
        padding: 0.8em 1.45em 0.65em;
    }
    .home_text {
        font-size: 4em;
    }
    .with_adr .sc_section {
        left: 10%;
        width: 28%;
    }
    .find_text {
        margin-top: 2.8em;
        margin-bottom: 2em;
    }
    .banners_2 .sc_column_item_inner,.banners_1 .sc_column_item_inner{
        background-position-x: -70px;
    }
    .search_opened .menu_main_nav_area {      display: none;    }
    .eg-vanburen-element-0-a {
        margin-top: 100px !important;
    }
    .woocommerce ul.products li.product .post_featured .hover_icon:before, .woocommerce-page ul.products li.product .post_featured .hover_icon:before,
    .isotope_wrap .isotope_item .post_featured .hover_icon:before {
        font-size: 30px;
    }
    .woocommerce-page .widget_price_filter .price_slider_amount .button:after, .woocommerce a.button:after, .woocommerce button.button:after, .woocommerce-page a.button:after, .woocommerce-page button.button:after, .woocommerce a.button.alt:after, .woocommerce button.button.alt:after, .woocommerce-page a.button.alt:after, .woocommerce-page button.button.alt:after, .woocommerce-account .addresses .title .edit:after, input[type="submit"]:after, input[type="button"]:after, button:after, .woocommerce-page ul.products li.product .add_to_cart_button:after, .sc_button:after {
        top: 8px;
    }
    .woocommerce div.product form.cart .button:after, .woocommerce-page .widget_price_filter .price_slider_amount .button:after, .woocommerce-page ul.products li.product .add_to_cart_button:after, .sc_button.sc_button_size_large:after {
        top: 10px;
    }
    .woocommerce .quantity input.qty, .woocommerce #content .quantity input.qty, .woocommerce-page .quantity input.qty, .woocommerce-page #content .quantity input.qty {
        height: 3.3em;
    }
    .sidebar_show.category .content, .sidebar_show.woocommerce .content {
        width: 580px;
    }
    .category .content .post_info .post_info_counters .post_counters_item {
        margin-left: 1.5em;
    }
    .category .content .post_info_date:before, .single .content .post_info_date:before, .blog .content .post_info_date:before {
        margin-right: 0.5em;
    }
    .bottom_arrow img {
        margin-top: -2px;
    }
    .sc_services_style_services-2 .sc_services_item {
        padding: 0.9em 2em 0;
    }
    .with_adr .sc_section .sc_section_content {
        padding: 1em 2.5em;
    }

    .post_featured_left > .post_featured {
        width: 31.7%;
    }
    .comments_list_wrap .comment_content:after {
        left: 6.6em;
    }
    .widget_area .widget_calendar .month_prev a {
        margin: 0 0 14px 4px;
    }
    .widget_area .widget_calendar .month_next a {
        margin: 0 3px 14px 1px;
    }
    .widget_area .widget_calendar td .day_wrap {
        margin: 0 3px;
        padding: 0;
    }

	/* Post layouts */
	.isotope_filters a {
		font-size:0.8461em;
	}
	
	/* Post parts */
	.post_info {
		font-size:0.8461em;
	}
	.post_info {
		font-size:0.8461em;
	}
	.post_rating .reviews_star {
		font-size:1em;
	}
	.post_item_colored .post_category {
		font-size:1em;
		margin:0 0 0.4em;
	}
	.post_item_colored .post_descr .post_price_period {
		font-size:1em;
	}
	.post_item_colored .post_descr .post_price_value {
		font-size:1.3846em;
	}
	
	/* Footer */
	.contacts_wrap .contacts_address {
		font-size: 1em;
	}
	
	/* Widgets */
	.widget_area .post_item .post_info {
		font-size:0.7692em;
	}
	.widget_area .widget_tag_cloud a {
		font-size:0.8461em !important;
	}
	.widget_area .widget_calendar .weekday {
		font-size:0.8461em;
	}
	
	/* Shortcodes */
	.sc_testimonial_content {
		font-size:1.25em;
	}
	.sc_testimonial_author {
		font-size: 1em;
	}
	
}



/*
Sony Xperia
LG Optimus
Blackberry Storm 3, Torch 9850 & Torch 9860
Nokia Lumia 610, 710 & 800
HTC Desire, Desire Z, Desire S & One V
Samsung Galaxy
*/
/* With side menu
@media (min-width: 768px) and (max-width: 1279px) {
*/
/* Without side menu */
@media (min-width: 768px) and (max-width: 959px) {
	body {	font-size: 11px; }
    .woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
        float: right;
        width: 48% !important;
    }
    .isotope_item .post_counters_likes{
        display: none !important;
    }
    .slider_engine_revo .sc_button {
        padding: 0.55em 1em 0.6em !important;
    }
    .comments_list_wrap .comment_content {
        margin-left: 70px;
    }
    .woocommerce button.button, input[type="submit"].sc_button_size_large, input[type="button"].sc_button_size_large, button.sc_button_size_large, .woocommerce-page .widget_price_filter .price_slider_amount .button, .woocommerce-page ul.products li.product .add_to_cart_button, .sc_button.sc_button_size_large {
        font-size: 1.2em;
    }
    .sc_team_style_team-1 .sc_team_item .sc_team_item_info .sc_socials {
        padding-left: 1px;
    }
    figure.round_img {
        margin-right: 1.5em;
    }

    .slider_engine_revo .sc_button {
        padding: 0.55em 1em 0.6em !important;
    }
    .slider_engine_revo .sc_button:after {
        display: none;
    }
    .sc_section.bg_change {
        font-size: 0.7em;
        margin-top: 4em;
    }
    .top_panel_over .top_panel_wrap {
        background: url("images/footer_bg.jpg");
        padding-bottom: 1em;
    }
    body:not(.top_panel_fixed) .half_opacity.top_panel_wrap  {
        background: none !important;
    }
    .top_panel_fixed .top_panel_position_over.top_panel_wrap_inner {
        background: none !important;
    }
    .top_panel_fixed .top_panel_style_5 .contact_logo {
         float: none;
    }
    .top_panel_fixed .top_panel_position_over .top_panel_middle {
        background: none;
    }
    .menu_relayout .top_panel_style_5 .menu_main_nav_area,
    .menu_relayout .top_panel_style_6 .menu_main_nav_area {
        display: inline-block !important;
    }
    .menu_relayout .top_panel_icon {
        margin-top: 0.5em;
    }
    .top_panel_middle .logo {
        margin-top: 2.5em;
    }
    .slider_alias_eco_homepage1 {
        margin-top: 3.3em;
    }
    .widget_nav_menu .current-menu-item a:after, .widget_nav_menu li a:hover:after {
        display: none;
    }
    .menu_main_nav > li > a {
        padding: 0.8em 1.65em 0.65em;
    }
    .home_text {
        font-size: 3.8em;
    }
    .with_adr .sc_section {
        left: 10%;
        width: 28%;
    }
    .sc_client_image {
        text-align: center;
    }
    .find_text {
        margin-top: 2.8em;
        margin-bottom: 2em;
    }
    .pl5 {
        padding-left: 0 !important;
    }
    .banners_2 .sc_column_item_inner,.banners_1 .sc_column_item_inner{
        background-position-x: -120px;
    }
    .post_info .post_info_counters .post_counters_item {
        margin-left: 2em;
    }
    .sc_dropcaps.sc_dropcaps_style_1 .sc_dropcaps_item {
        margin-top: 0;
    }
    .top_panel_title.title_present.breadcrumbs_present .page_title, .top_panel_title.title_present.breadcrumbs_present .breadcrumbs {
        max-width: 47%;
    }

    .woocommerce select, .woocommerce-page select {
        background-position-y: -4px;
    }
    .search_opened .menu_main_nav_area {      display: none;    }
    .eg-vanburen-element-0-a {
        margin-top:50px !important;
    }
    .woocommerce ul.products li.product .post_featured .hover_icon:before, .woocommerce-page ul.products li.product .post_featured .hover_icon:before,
    .isotope_wrap .isotope_item .post_featured .hover_icon:before {
        font-size: 30px;
    }
    .woocommerce-page .widget_price_filter .price_slider_amount .button:after, .woocommerce a.button:after, .woocommerce button.button:after, .woocommerce-page a.button:after, .woocommerce-page button.button:after, .woocommerce a.button.alt:after, .woocommerce button.button.alt:after, .woocommerce-page a.button.alt:after, .woocommerce-page button.button.alt:after, .woocommerce-account .addresses .title .edit:after, input[type="submit"]:after, input[type="button"]:after, button:after, .woocommerce-page ul.products li.product .add_to_cart_button:after, .sc_button:after {
        top: 7px;
    }
    .menu_relayout .copyright_style_socials .copyright_text {
        float: left;
        margin-top: 0;
    }
    .menu_relayout .copyright_wrap .sc_socials {
        float: right;
        margin-top: 0;
    }
    .woocommerce div.product form.cart .button:after, .woocommerce-page .widget_price_filter .price_slider_amount .button:after, .woocommerce-page ul.products li.product .add_to_cart_button:after, .sc_button.sc_button_size_large:after {
        top: 8px;
        width: 16px;
        height: 16px;
        line-height: 16px;
    }
    .woocommerce .quantity input.qty, .woocommerce #content .quantity input.qty, .woocommerce-page .quantity input.qty, .woocommerce-page #content .quantity input.qty {
        height: 3em;
    }
    input[type="submit"], input[type="button"], button, .woocommerce button.button, .woocommerce a.button, .woocommerce-page .widget_price_filter .price_slider_amount .button, .woocommerce-page ul.products li.product .add_to_cart_button, .sc_button {

        padding: 0.6em 3.2em 0.6em 1em;
    }
    .sidebar_show.category .content, .sidebar_show.woocommerce .content {
        width: 660px;
    }
    .category .content .post_info .post_info_counters .post_counters_item {
        margin-left: 1.5em;
    }
    .category .content .post_info_date:before, .single .content .post_info_date:before, .blog .content .post_info_date:before {
        margin-right: 0.5em;
    }
    .bottom_arrow img {
        margin-top: -2px;
    }
    .sc_team_style_team-2 .sc_team_item .sc_team_item_info .sc_socials {
        padding-left: 1px;
    }
    .sc_infobox.sc_infobox_style_regular:before {
        font-size: 24px;
    }
    .sc_services_style_services-2 .sc_services_item {
        padding: 0.9em 0 0;
    }
    .with_adr .sc_section .sc_section_content {
        padding: 1em 2.5em;
    }
    .team_user .sc_column_item {
        width: 100% !important;
    }
    .widget_area .widget_price_filter {
        box-sizing: border-box;
    }
    .team_user .sc_column_item + .sc_column_item {
        margin-top: 4em;
    }
    .body_filled .widget_area[class*="scheme_"] .widget_area_inner {
        padding: 3em 0;
    }
    .sidebar aside.widget_search {
        box-sizing: border-box;
    }
    .team_user .sc_image {
        width: 5em;
        margin-left: 1em;
    }
    .pl1 {
        padding-left: 0 !important;
    }
    .post_featured_left > .post_featured {
        width: 31%;
    }
    .comments_list_wrap .comment_content:after {
        left: 6.3em;
    }
    .widget_area .widget_calendar .month_prev a {
        margin: 0 0 14px 2px;
    }
    .widget_area .widget_calendar .month_next a {
        margin: 0 1px 14px 1px;
    }
    .widget_area .widget_calendar td .day_wrap {
        margin: 0 2px;
        padding: 0;
    }
    .widget_area aside .post_item + .post_item, .search_results.widget_area .post_item + .post_item {
        margin-top: 1.85em;
    }
    .sc_audio.sc_audio_image .sc_audio_container {
        width: 490px;
    }

    .widget_top10 .post_info {
        padding-left: 8.8em;
    }
	/* Post layouts */
	.isotope_filters a {
		font-size:0.8461em;
	}
	
	/* Post parts */
	.post_info {
		font-size:0.8461em;
	}
	.post_info {
		font-size:0.8461em;
	}
	.post_rating .reviews_star {
		font-size:1em;
	}
	.post_item_colored .post_category {
		font-size:1em;
		margin:0 0 0.4em;
	}
	.post_item_colored .post_descr .post_price_period {
		font-size:1em;
	}
	.post_item_colored .post_descr .post_price_value {
		font-size:1.3846em;
	}
	
	/* Footer */
	.contacts_wrap .contacts_address {
		font-size: 1em;
	}
	
	/* Widgets */
	.widget_area .post_item .post_info {
		font-size:0.7692em;
	}
	.widget_area .widget_tag_cloud a {
		font-size:0.8461em !important;
	}
	.widget_area .widget_calendar .weekday {
		font-size:0.8461em;
	}
	.widget_area .reviews_block .reviews_summary .reviews_criteria {
		font-size:0.7692em;
	}
	
	/* Shortcodes */
	.sc_testimonial_content {
		font-size:1.25em;
	}
	.sc_testimonial_author {
		font-size: 1em;
	}
	
}

/*  Woocommerce */
@media (min-width: 480px) and (max-width: 768px) {
    .woocommerce-checkout #payment ul.payment_methods li img {
        margin-left: 0;
    }
    .woocommerce-checkout #payment .payment_method_paypal .about_paypal {
        float: left;
        line-height: 30px;
    }
    .woocommerce .related ul li.product, .woocommerce .related ul.products li.product, .woocommerce .upsells.products ul li.product, .woocommerce .upsells.products ul.products li.product, .woocommerce-page .related ul li.product, .woocommerce-page .related ul.products li.product, .woocommerce-page .upsells.products ul li.product, .woocommerce-page .upsells.products ul.products li.product,
    .woocommerce.columns-3 ul.products li.product, .woocommerce-page.columns-3 ul.products li.product, .woocommerce ul.products li.product.column-1_3, .woocommerce-page ul.products li.product.column-1_3 {
        width: 50%;
    }
    .woocommerce .shop_mode_list ul.products li.product, .woocommerce-page .shop_mode_list ul.products li.product {
        width: 100%;
    }
    .woocommerce-page div.product div.images{
        float: left;
    }
    .woocommerce #content table.cart td.actions .button, .woocommerce #content table.cart td.actions .input-text, .woocommerce #content table.cart td.actions input, .woocommerce table.cart td.actions .button, .woocommerce table.cart td.actions .input-text, .woocommerce table.cart td.actions input, .woocommerce-page #content table.cart td.actions .button, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions input, .woocommerce-page table.cart td.actions .button, .woocommerce-page table.cart td.actions .input-text, .woocommerce-page table.cart td.actions input {
        width: auto;
        float: left;
    }
    .woocommerce #content table.cart td.actions .coupon, .woocommerce table.cart td.actions .coupon, .woocommerce-page #content table.cart td.actions .coupon, .woocommerce-page table.cart td.actions .coupon {
        float: left;
    }
    .woocommerce table.cart td.actions > input {
        float: right !important;

    }
    .woocommerce-checkout #payment ul.payment_methods li img {
        display: block;
    }
}
/*
Portrait orientation

Sony Xperia
LG Optimus
Blackberry Storm 3, Torch 9850 & Torch 9860
Nokia Lumia 610, 710 & 800
HTC Desire, Desire Z, Desire S & One V
Samsung Galaxy
*/
@media (min-width: 480px) and (max-width: 767px) {
    body {	font-size: 11px; }
    .checkout-button {
        width: 150px !important;
    }
    .sc_section.bg_change {
        font-size: 1.2em;
        margin: auto;
        margin-top: 2em;
        width: 240px;
        height: 200px;
        box-sizing: border-box;
    }
    .copyright_wrap_inner {
        text-align: center;
    }
    .sc_clients_item {
        text-align: center;
    }
    .sc_client_image {
        margin: auto;
    }
    .sc_dropcaps.sc_dropcaps_style_1 .sc_dropcaps_item {
        margin-top: 0;
    }
    .mb2 {
        margin-bottom: 2em;
    }
    .woocommerce .shop_mode_list ul.products li.product .button {
        margin-top: 2em;
    }
    .category .content .post_info {
        font-size: 0.8em;
    }
    .post_item_portfolio_3 .post_descr p:nth-child(2) {
        display: none;
    }
    .isotope_item .post_counters_likes{
        display: none !important;
    }
    .comments_list_wrap .comment_content:after {
        display: none;
    }
    .comments_list_wrap .comment_content {
        margin-left: 70px;
    }
    .column_service .column-1_4 {
        width: 100% !important;
    }
    .top_panel_style_5 .top_panel_middle .menu_main_wrap {
        margin-bottom: 0;
    }
    .woocommerce button.button, input[type="submit"].sc_button_size_large, input[type="button"].sc_button_size_large, button.sc_button_size_large, .woocommerce-page .widget_price_filter .price_slider_amount .button, .woocommerce-page ul.products li.product .add_to_cart_button, .sc_button.sc_button_size_large {
        font-size: 1.2em;
    }
    .sc_team_style_team-1 .sc_team_item .sc_team_item_info .sc_socials {
        padding-left: 1px;
    }
    figure.round_img {
        margin-right: 1.5em;
    }
    body:not(.top_panel_fixed) .half_opacity.top_panel_wrap  {
        background: none !important;
    }

    .slider_engine_revo .sc_button {
        padding: 0.55em 1em 0.6em !important;
    }
    .slider_engine_revo .sc_button:after {
        display: none;
    }
    .sc_section.bg_change {
        font-size: 0.7em;
        margin-top: 4em;
    }
    .top_panel_over .top_panel_wrap {
        background: url("images/footer_bg.jpg");
        padding-bottom: 1em;
    }
    .top_panel_fixed .top_panel_position_over.top_panel_wrap_inner {
        background: none !important;
    }
    .top_panel_fixed .top_panel_style_5 .contact_logo {
        float: none;
    }
    .top_panel_fixed .top_panel_position_over .top_panel_middle {
        background: none;
    }
    .menu_relayout .top_panel_style_5 .menu_main_nav_area,
    .menu_relayout .top_panel_style_6 .menu_main_nav_area {
        display: inline-block !important;
    }
    .menu_relayout .top_panel_icon {
        margin-top: 0.5em;
    }
    .top_panel_middle .logo {
        margin-top: 1.5em;
    }
    .responsive_menu .top_panel_style_6 .menu_main_wrap, .responsive_menu .top_panel_style_7 .menu_main_wrap {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    .widget_nav_menu .current-menu-item a:after, .widget_nav_menu li a:hover:after {
        display: none;
    }
    .menu_main_nav > li > a {
        padding: 0.8em 1.65em 0.65em;
    }
    .home_text {
        font-size: 3.8em;
    }
    .sc_client_image {
        text-align: center;
    }
    .find_text {
        margin-top: 2.8em;
        margin-bottom: 2em;
    }
    .pl5 {
        padding-left: 0 !important;
    }
    .banners_2 {
        margin-top: 3em;
    }
    .isotope_wrap .isotope_column_4 {
             width: 50%;
    }
    .custom_area_wrap {
        background-image: none !important;
    }
    .custom_area_wrap {
        padding: 2em 0;
    }
    .post_info .post_info_counters .post_counters_item {
        margin-left: 2em;
    }
    .search_opened .menu_main_nav_area {      display: none;    }
    .eg-vanburen-element-0-a {
        margin-top: 100px !important;
    }
    .woocommerce ul.products li.product .post_featured .hover_icon:before, .woocommerce-page ul.products li.product .post_featured .hover_icon:before,
    .isotope_wrap .isotope_item .post_featured .hover_icon:before {
        font-size: 30px;
    }
    .woocommerce-page .widget_price_filter .price_slider_amount .button:after, .woocommerce a.button:after, .woocommerce button.button:after, .woocommerce-page a.button:after, .woocommerce-page button.button:after, .woocommerce a.button.alt:after, .woocommerce button.button.alt:after, .woocommerce-page a.button.alt:after, .woocommerce-page button.button.alt:after, .woocommerce-account .addresses .title .edit:after, input[type="submit"]:after, input[type="button"]:after, button:after, .woocommerce-page ul.products li.product .add_to_cart_button:after, .sc_button:after {
        top: 7px;
    }
    .menu_relayout .copyright_style_socials .copyright_text {
        float: left;
        margin-top: 0;
    }
    .menu_relayout .copyright_wrap .sc_socials {
        float: right;
        margin-top: 0;
    }
    .woocommerce div.product form.cart .button:after, .woocommerce-page .widget_price_filter .price_slider_amount .button:after, .woocommerce-page ul.products li.product .add_to_cart_button:after, .sc_button.sc_button_size_large:after {
        top: 9px;
        width: 16px;
        height: 16px;
        line-height: 16px;
    }
    .woocommerce .quantity .qty {
        width: 4.4em;
    }
    .address_text,
    .address_form {
        width: 100% !important;
    }
    .woocommerce .quantity input.qty, .woocommerce #content .quantity input.qty, .woocommerce-page .quantity input.qty, .woocommerce-page #content .quantity input.qty {
        height: 3em;
    }
    .category .content .post_info .post_info_counters .post_counters_item {
        margin-left: 1.5em;
    }
    .category .content .post_info_date:before, .single .content .post_info_date:before, .blog .content .post_info_date:before {
        margin-right: 0.5em;
    }
    .bottom_arrow img {
        margin-top: -2px;
    }
    .sc_team_style_team-2 .sc_team_item .sc_team_item_info .sc_socials {
        padding-left: 1px;
    }
    .sc_infobox.sc_infobox_style_regular:before {
        font-size: 24px;
    }
    .sc_services_style_services-2 .sc_services_item {
        padding: 0.9em 0 0;
    }
    .with_adr .sc_section .sc_section_content {
        padding: 1em 2.5em;
    }
    .team_user .sc_column_item {
        width: 100% !important;
    }
    .widget_area .widget_price_filter {
        box-sizing: border-box;
    }
    .team_user .sc_column_item + .sc_column_item {
        margin-top: 4em;
    }
    .body_filled .widget_area[class*="scheme_"] .widget_area_inner {
        padding: 3em 0;
    }
    .sidebar aside.widget_search {
        box-sizing: border-box;
    }
    .team_user .sc_image {
        width: 5em;
        margin-left: 1em;
    }
    .pl1 {
        padding-left: 0 !important;
    }
    .post_featured_left > .post_featured {
        width: 100%;
    }
    .comments_list_wrap .comment_content:after {
        left: 6.6em;
    }

    .widget_area aside .post_item + .post_item, .search_results.widget_area .post_item + .post_item {
        margin-top: 1.85em;
    }

    .widget_top10 .post_info {
        padding-left: 8.8em;
    }
	
	/* Post layouts */
	.isotope_filters a {
		font-size:0.8333em;
	}
	
	/* Post parts */
	.post_info {
		font-size:0.8333em;
	}
	.post_info {
		font-size:0.8333em;
	}
	.post_rating .reviews_star {
		font-size:1em;
	}
	.post_item_colored .post_category {
		font-size:1em;
		margin:0 0 0.4em;
	}
	.post_item_colored .post_descr .post_price_period {
		font-size:1em;
	}
	.post_item_colored .post_descr .post_price_value {
		font-size:1.3333em;
	}
	
	/* Footer */
	.contacts_wrap .contacts_address {
		font-size: 1em;
	}
	
	/* Widgets */
	.widget_area .post_item .post_info {
		font-size:0.75em;
	}
	.widget_area .widget_tag_cloud a {
		font-size:0.8333em !important;
	}
	.widget_area .widget_calendar .weekday {
		font-size:0.8333em;
	}
	.widget_area .reviews_block .reviews_summary .reviews_criteria {
		font-size:0.75em;
	}
	
	/* Shortcodes */

	.sc_testimonial_content {
		font-size:1.25em;
	}
	.sc_testimonial_author {
		font-size: 1em;
	}
	.sc_tabs .sc_tabs_titles li {
		font-size:1.25em;
	}
	.sc_tabs.sc_tabs_style_2 .sc_tabs_titles li a {
		border-width: 1px;
	}	
}




/*
Very common low res
*/
@media (max-width: 479px) {
	body {	font-size: 10px; }
    h1 {
         font-size: 4em;
     }
    h2 {
        font-size: 3.5em;
    }
    .mejs-mute {
        display: none !important;
    }
    .widget_area .reviews_block .reviews_summary .reviews_criteria {
        height: 5em;
    }
    .widget_area .reviews_block .reviews_summary .reviews_value {
        font-size: 2.5em;
        padding-right: 0.9em;
    }
    .comment-form-author label,
    .comment-form-email label {
        margin-left: 1px;
    }
    .scheme_original .mejs-controls .mejs-time-rail .mejs-time-total, .scheme_original .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
        background-color: #d9d9d9 !important;
        width: 140px !important;
    }
    .woocommerce div.product .woocommerce-tabs .panel {
        margin: 0 0 2em;
        padding: 2.5em 2.5em 1em 2.5em;
    }
    .woocommerce select, .woocommerce-page select {
        background-position-y: -5px;
        background-position-x: 104%;
    }
    .isotope_item .post_counters_likes{
        display: none !important;
    }
    .woocommerce-checkout #payment ul.payment_methods li img {
        display: block;
    }

    .woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
        float: none;
        width: 100%;
    }
    .woocommerce div.product div.images, .woocommerce #content div.product div.images, .woocommerce-page div.product div.images, .woocommerce-page #content div.product div.images {
        margin-bottom: 3.7em;
        width: 100%;
    }
    .woocommerce table.cart td.actions .coupon .input-text, .woocommerce #content table.cart td.actions .coupon .input-text, .woocommerce-page table.cart td.actions .coupon .input-text, .woocommerce-page #content table.cart td.actions .coupon .input-text {
        width: 15em;
    }
    .product-name {
        text-align: right;
    }
    .product-total {
        text-align: left;
    }
    .single_add_to_cart_button:after {
        top: 7px !important;
    }
    .comments_list_wrap .comment_content:after {
        display: none;
    }
    .actions > input {
        float: right !important;
    }
    .sc_list_style_iconed li .sc_list_icon.icon-right:before {
        margin-left: 0;
    }
    .slider_alias_eco_homepage1 {
        margin-top: 5.5em;
        margin-bottom: -1em;
    }
    .copyright_wrap_inner {
        text-align: center;
    }
    .banners_1,
    .banners_2 {
        width: 100% !important;
    }
    .banners_2 .sc_column_item_inner,.banners_1 .sc_column_item_inner{
        background-position-x: -150px;
    }
    .column-1_2:not(.sc_section) {
        width: 100% !important;
    }
    .column-1_2:not(.sc_section) + .column-1_2 {
        margin-top: 3em !important;
    }
    .col2 a {
        margin-left: 0em !important;
        margin-top: 0 !important;
    }
    .with_adr .sc_section {
        position: relative;
        width: 100%;
        left: 0;
    }
    .content .post_item_404 .search_wrap.search_state_fixed .search_form_wrap .search_field {
        width: 13em;
    }
    .sc_audio.sc_audio_image .sc_audio_container {
        width: 200px;
    }
    .woocommerce table.shop_table {
        font-size: 0.8em;
    }
    .mejs-container .mejs-controls .mejs-time {
        display: none !important;
    }
    .sc_audio.sc_audio_player {
        background-image: none !important;
    }
    .post_item_404 {
        margin-bottom: 2em;
    }
    .woocommerce .shop_mode_list ul.products li.product .post_content {
        float: left;
        margin-top: 2em;
    }
    .woocommerce p.stars {
        font-size: 0.6em;
    }
    .sc_audio .sc_audio_header,
    .sc_audio.sc_audio_image .sc_audio_container {
        left: 10px;
    }
    .sidebar_show.category .content, .sidebar_show.woocommerce .content {
        width: 250px;

    }
    .sc_testimonials_style_testimonials-1 .sc_testimonial_content {
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .single .content .post_info .post_info_item.post_info_tags, .blog .content .post_info .post_info_item.post_info_tags,
    .single .content .post_info .post_info_item, .blog .content .post_info .post_info_item {
        width: 100%;
        float: none;
        margin-bottom: 0.5em;
    }
    .single .content .post_info, .blog .content .post_info {
        margin-bottom: 1em;
    }
    .comments_list_wrap .comment_content {
        margin-left: 60px;
    }
    .comments_list_wrap ul ul {
        padding-left: 0;
    }
    .testimon {
        max-height: 323px;
    }
    .column_service .column-1_4 {
        width: 100% !important;
    }
    .top_panel_style_5 .top_panel_middle .menu_main_wrap {
        margin-bottom: 0;
    }
    .woocommerce button.button, input[type="submit"].sc_button_size_large, input[type="button"].sc_button_size_large, button.sc_button_size_large, .woocommerce-page .widget_price_filter .price_slider_amount .button, .woocommerce-page ul.products li.product .add_to_cart_button, .sc_button.sc_button_size_large {
        font-size: 1.2em;
    }
    .sc_team_style_team-1 .sc_team_item .sc_team_item_info .sc_socials {
        padding-left: 1px;
    }
    figure.round_img {
        margin-right: 1.5em;
        width: 5em;
    }
    body:not(.top_panel_fixed) .half_opacity.top_panel_wrap  {
        background: none !important;
    }

    .slider_engine_revo .sc_button {
        padding: 0.55em 1em 0.6em !important;
    }
    .slider_engine_revo .sc_button:after {
        display: none;
    }
    .sc_section.bg_change {
        font-size: 1.2em;
        margin-top: 2em;
        width: 240px;
        height: 200px;
        box-sizing: border-box;
    }
    .sc_client_image {
        margin: auto;
    }
    .search_wrap .search_results {
        width: 195px;
    }
    .top_panel_over .top_panel_wrap {
        background: url("images/footer_bg.jpg");
        padding-bottom: 1em;
    }
    .scheme_original .accent1_bg.bg_none {
        background-image: none !important;
    }
    .top_panel_fixed .top_panel_position_over.top_panel_wrap_inner {
        background: none !important;
    }
    .top_panel_fixed .top_panel_style_5 .contact_logo {
        float: none;
    }
    .top_panel_fixed .top_panel_position_over .top_panel_middle {
        background: none;
    }
    .menu_relayout .top_panel_style_5 .menu_main_nav_area,
    .menu_relayout .top_panel_style_6 .menu_main_nav_area {
        display: inline-block !important;
    }
    .become .sc_column_item{
        text-align: center !important;
    }
    .menu_relayout .top_panel_icon {
        margin-top: 0.5em;
    }
    .top_panel_middle .logo {
        margin-top: 1.5em;
    }
    .responsive_menu .top_panel_style_6 .menu_main_wrap, .responsive_menu .top_panel_style_7 .menu_main_wrap {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    .widget_nav_menu .current-menu-item a:after, .widget_nav_menu li a:hover:after {
        display: none;
    }
    .menu_main_nav > li > a {
        padding: 0.8em 1.65em 0.65em;
    }
    .home_text {
        font-size: 3.8em;
    }
    .sc_client_image {
        text-align: center;
    }
    .find_text {
        margin-top: 2.8em;
        margin-bottom: 2em;
    }
    .pl5 {
        padding-left: 0 !important;
    }
    .banners_2 {
        margin-top: 3em;
    }
    .isotope_wrap .isotope_column_4 {
        width: 50%;
    }
    .custom_area_wrap {
        background-image: none !important;
    }
    .custom_area_wrap {
        padding: 2em 0;
    }
    .post_info .post_info_counters .post_counters_item {
        margin-left: 2em;
    }
    .search_opened .menu_main_nav_area {      display: none;    }
    .eg-vanburen-element-0-a {
        margin-top: 100px !important;
    }
    .woocommerce ul.products li.product .post_featured .hover_icon:before, .woocommerce-page ul.products li.product .post_featured .hover_icon:before,
    .isotope_wrap .isotope_item .post_featured .hover_icon:before {
        font-size: 30px;
    }
    .woocommerce-page .widget_price_filter .price_slider_amount .button:after, .woocommerce a.button:after, .woocommerce button.button:after, .woocommerce-page a.button:after, .woocommerce-page button.button:after, .woocommerce a.button.alt:after, .woocommerce button.button.alt:after, .woocommerce-page a.button.alt:after, .woocommerce-page button.button.alt:after, .woocommerce-account .addresses .title .edit:after, input[type="submit"]:after, input[type="button"]:after, button:after, .woocommerce-page ul.products li.product .add_to_cart_button:after, .sc_button:after {
        top: 5px;
    }
    .menu_relayout .copyright_style_socials .copyright_text {
        float: left;
        margin-top: 0;
    }
    .menu_relayout .copyright_wrap .sc_socials {
        float: right;
        margin-top: 0;
    }
    .woocommerce div.product form.cart .button:after, .woocommerce-page .widget_price_filter .price_slider_amount .button:after, .woocommerce-page ul.products li.product .add_to_cart_button:after, .sc_button.sc_button_size_large:after {
        top: 9px;
        width: 16px;
        height: 16px;
        line-height: 16px;
    }
    .woocommerce .quantity .qty {
        width: 4.4em;
    }
    .address_text,
    .address_form {
        width: 100% !important;
    }
    .woocommerce .quantity input.qty, .woocommerce #content .quantity input.qty, .woocommerce-page .quantity input.qty, .woocommerce-page #content .quantity input.qty {
        height: 3em;
    }
    .category .content .post_info .post_info_counters .post_counters_item {
        margin-left: 1.5em;
    }
    .category .content .post_info_date:before, .single .content .post_info_date:before, .blog .content .post_info_date:before {
        margin-right: 0.5em;
    }
    .bottom_arrow img {
        margin-top: -2px;
    }
    .sc_team_style_team-2 .sc_team_item .sc_team_item_info .sc_socials {
        padding-left: 1px;
    }
    .sc_infobox.sc_infobox_style_regular:before {
        font-size: 24px;
    }
    .sc_services_style_services-2 .sc_services_item {
        padding: 0.9em 0 0;
    }
    .with_adr .sc_section .sc_section_content {
        padding: 1em 2.5em;
    }
    .team_user .sc_column_item {
        width: 100% !important;
    }
    .widget_area .widget_price_filter {
        box-sizing: border-box;
    }
    .team_user .sc_column_item + .sc_column_item {
        margin-top: 4em;
    }
    .body_filled .widget_area[class*="scheme_"] .widget_area_inner {
        padding: 3em 0;
    }
    .sidebar aside.widget_search {
        box-sizing: border-box;
    }
    .team_user .sc_image {
        width: 5em;
        margin-left: 1em;
    }
    .page_content_wrap {
        padding: 2.5em 0 2.2em;
    }
    .sc_dropcaps.sc_dropcaps_style_2 .sc_dropcaps_item {
        margin-top: 0;
    }
    .pl1 {
        padding-left: 0 !important;
    }
    .post_featured_left > .post_featured {
        width: 100%;
    }
    .comments_list_wrap .comment_content:after {
        left: 6.6em;
    }
    .widget_area .widget_calendar .month_prev a {
        margin: 0 0 14px 11px;
    }
    .widget_area .widget_calendar .month_next a {
        margin: 0 10px 14px 1px;
    }
    .widget_area .widget_calendar td .day_wrap {
        margin: 0 5px;
        padding: 0;
    }
    .widget_area aside .post_item + .post_item, .search_results.widget_area .post_item + .post_item {
        margin-top: 1.85em;
    }

    .widget_top10 .post_info {
        padding-left: 8.8em;
    }
	
	/* Post layouts */
	.isotope_filters a {
		font-size:0.8333em;
	}
	
	/* Post parts */
	.post_info {
		font-size:0.8333em;
	}
	.post_info {
		font-size:0.8333em;
	}
	.post_rating .reviews_star {
		font-size:1em;
	}
	
	.post_item_colored .post_category {
		font-size:1em;
		margin:0 0 0.4em;
	}
	.post_item_colored .post_descr .post_price_period {
		font-size:1em;
	}
	.post_item_colored .post_descr .post_price_value {
		font-size:1.3333em;
	}
    .sc_skills_pie.sc_skills_compact_on .sc_skills_item ,
    .sc_skills_legend {
        width: 100%;
        float: none;
    }
    .sc_skills_pie.sc_skills_compact_on .sc_skills_item {
        margin-top: 2em;
    }
    .sc_dropcaps.sc_dropcaps_style_1 .sc_dropcaps_item {
        margin-top: -4px;
    }
    .mb2 {
        margin-bottom: 2em;
    }
	/* Footer */
	.contacts_wrap .contacts_address {
		font-size: 1em;
	}
	
	/* Widgets */
	.widget_area .post_item .post_info {
		font-size:0.75em;
	}
	.widget_area .widget_tag_cloud a {
		font-size:0.8333em !important;
	}
	.widget_area .widget_calendar .weekday {
		font-size:0.8333em;
	}
	.widget_area .reviews_block .reviews_summary .reviews_criteria {
        font-size: 0.88em;
        padding: 1.2em 2em 1.2em;
	}
    .sc_testimonials.sc_slider_controls_side .sc_slider_controls_wrap a {
        margin-top: 2px;
    }
	
	/* Shortcodes */
	input[type="submit"], input[type="button"], button, .sc_button {
        padding: 0.7em 3em 0.7em 0.6em;
	}
	blockquote {
		font-size: 1.5em;
	}
	.sc_countdown.sc_countdown_style_1 .sc_countdown_digits,
	.sc_countdown.sc_countdown_style_1 .sc_countdown_separator {
		font-size:2em;
		height: 2em;
		line-height:2em;
	}
	.sc_countdown.sc_countdown_style_1 .sc_countdown_digits {
		width: 2em;
	}
	.sc_testimonial_content {
		font-size:1.25em;
	}
	.sc_testimonial_author {
		font-size: 1em;
	}
	.sc_tabs .sc_tabs_titles li {
		font-size:1.25em;
	}
	.sc_tabs.sc_tabs_style_2 .sc_tabs_titles li a {
		border-width: 1px;
	}	
}