
table				{ width: 100%; margin: 0px; margin-bottom: 20px; }

table.basic			{ border-spacing: 0px; border-collapse: separate; border-top: 3px solid #cccccc; border-bottom: 1px solid #FFFFFF; line-height: 16px; }
table.basic caption		{ background: none #bbbbbb; color: #FFFFFF; font-size: 14px; padding: 5px 11px 5px 11px; text-align: center;}
table.basic tr:hover		{ background: none !important; }
table.basic thead		{ color: #333333; }
table.basic th,
table.basic .title		{ border-top: 1px solid #FFFFFF; border-bottom: 1px solid #cccccc; font-weight: bold; padding: 3px 6px 3px 0px; white-space: nowrap; text-align: left; }
table.basic tbody th		{ }
table.basic td			{ background: none !important; border-top: 1px solid #FFFFFF; border-bottom: 1px solid #cccccc; padding: 3px 8px 3px 0px !important; line-height: 16px !important; }
table.basic thead		{ border-top: 1px solid #FFFFFF; border-bottom: 1px solid #cccccc; padding: 3px 6px 3px 0px; white-space: nowrap; }
table.basic td p		{ padding-bottom: 3px; padding-top: 3px; }


table.style1			{ border: 5px solid #DDDDDD; }
table.style1 caption 		{ background: none #959595; color: #FFFFFF; font-size: 14px; padding: 5px 11px 5px 11px; text-align: left; }
table.style1 tr:hover		{ background: url('../images/bck_black_10.png'); }
table.style1 th			{ 
	background: #DDDDDD;
	border-bottom: 1px solid #FFFFFF;
	line-height: 22px; 
	padding: 4px 6px 4px 6px; 
	color: #333333; 
/*	white-space: nowrap; */  
	text-align: left;  
}
table.style1 thead th		{ padding-top: 2px; }
table.style1 thead td		{ 
	background: #DDDDDD; 
	border-bottom: 1px solid #FFFFFF; 
	text-align: left; 
	line-height: 22px; 
	padding: 2px 6px 4px 6px; 
/*	white-space: nowrap; */ 
}
table.style1 tbody th,
table.style1 tbody .title	{ background: url('../images/bck_black_5.png'); font-weight: bold; white-space: nowrap; color: #666666; }
table.style1 td	{ 
	background: url('../images/bck_white_75.png');
	border-bottom: 1px solid #DDDDDD;
	line-height: 22px; 
	padding: 4px 6px 4px 6px;
}
table.style1 .icon16		{ margin-top: 3px; margin-bottom: 3px; }
table.style1 td.vcenter		{ vertical-align: middle; }
table.style1 td p		{ padding-bottom: 3px; padding-top: 3px; }

.chart-wrap table		{ border: 5px solid #DDDDDD; }
.chart-wrap caption 		{ background: none #959595; color: #FFFFFF; font-size: 14px; padding: 5px 11px 5px 11px; text-align: left; }
.chart-wrap tr:hover		{ background: url('../images/bck_black_10.png'); }
.chart-wrap th			{ background: #DDDDDD; border-bottom: 1px solid #FFFFFF; text-align: left; line-height: 22px; padding: 4px 6px 4px 6px; color: #333333; white-space: nowrap; }
.chart-wrap thead th		{ padding-top: 2px; }
.chart-wrap thead td		{ background: #DDDDDD; border-bottom: 1px solid #FFFFFF; text-align: left; line-height: 22px; padding: 2px 6px 4px 6px; white-space: nowrap; }
.chart-wrap tbody th		{ background: url('../images/bck_black_5.png'); font-weight: bold; white-space: nowrap; color: #666666; }
.chart-wrap td			{ background: url('../images/bck_white_75.png'); border-bottom: 1px solid #DDDDDD; line-height: 22px; padding: 4px 6px 4px 6px; }

table .vcenter			{ vertical-align: middle; }
table .full			{ width: 100%; }
table .value			{ color: #47AB00; }
table .nowrap			{ white-space: nowrap; }

/* *********************************************************************
 * reset Styles
 * *********************************************************************/
.dataTables_wrapper table, .dataTables_wrapper tbody,
.dataTables_wrapper thead, .dataTables_wrapper tr,
.dataTables_wrapper th, .dataTables_wrapper td,
.dataTables_wrapper tfoot {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	vertical-align: top;
	border-collapse: collapse;
	border-spacing: 0;
}

/* *********************************************************************
 * DataTables Styles
 * *********************************************************************/

.dataTables_wrapper { }

.dataTables_wrapper table { 
	width: 100% !important; 
	margin: 0;
}
.dataTables_wrapper .dataTables_length 				{ float: left; margin: 0px 0px 15px 0px; }
.dataTables_wrapper .dataTables_filter 				{ float: right; margin: 0px 0px 15px 0px; }
.dataTables_wrapper .dataTables_filter input			{ display: inline; border: 1px solid #B8B8B8; font-size: 12px; font-family: arial; color: #333333; height: 16px; padding: 2px 4px 2px 4px; }
.datatable 							{ clear: both; }
.datatable thead th.sorting					{ cursor: pointer; padding-right: 25px; }
.datatable thead th.sorting_desc				{ cursor: pointer; padding-right: 25px; background: url('../images/arrow_sm_black_top.gif') center right no-repeat #eeeeee;}
.datatable thead th.sorting_asc					{ cursor: pointer; padding-right: 25px; background: url('../images/arrow_sm_black_down.gif') center right no-repeat #eeeeee;}
.dataTables_wrapper .dataTables_paginate 			{ 
	float: right;  
	font-size: 11px; 
	line-height: 20px; 
	margin-top: -10px; 
	padding-bottom: 10px;
	clear: both;
}
.datatable .center {
	text-align: center;
}
.dataTables_wrapper .dataTables_paginate span,
.dataTables_wrapper .dataTables_paginate a  { 
	display: block; 
	float: left; 
}
.dataTables_wrapper .dataTables_paginate .nav a			{ width: 22px; height: 22px; }
.dataTables_wrapper .dataTables_paginate .paginate_button,
.dataTables_wrapper .dataTables_paginate .paginate_active	{ cursor: pointer; width: 20px; background: url('../images/button_glas2.png') center center repeat-x #eeeeee; text-align: center; color: #333333; font-weight: bold; text-decoration: none; margin: 0px 1px 0px 1px; border: 1px solid #dddddd; border-bottom: 1px solid #cccccc; -moz-border-radius: 3px 3px 3px 3px; -webkit-border-radius: 3px 3px 3px 3px; border-radius: 3px 3px 3px 3px; }
.dataTables_wrapper .dataTables_paginate .paginate_button:hover	{ background-color: #FFFFFF; color: #00A5C4; text-decoration: none; }
.dataTables_wrapper .dataTables_paginate .paginate_active	{ background: url('../images/button_glas1.png') center center repeat-x #333333; border-width: 0px; line-height: 22px; width: 22px; color: #FFFFFF; text-decoration: none; font-weight: bold; width: 22px !important; }

.dataTables_wrapper .dataTables_paginate .first			{ background: url('../images/arrow_leftend_off.png') center center no-repeat !important; margin: 0px 0px 0px 0px; text-indent: -9999px; border-right-width: 0px; -moz-border-radius: 3px 0px 0px 3px; -webkit-border-radius: 3px 0px 0px 3px; border-radius: 3px 0px 0px 3px;}
.dataTables_wrapper .dataTables_paginate .first:hover		{ background: url('../images/arrow_leftend_ovr.png') center center no-repeat !important; text-indent: -9999px; }
.dataTables_wrapper .dataTables_paginate .previous		{ background: url('../images/arrow_left_off.png') center center no-repeat !important; margin: 0px 4px 0px 0px; text-indent: -9999px; border-left-width: 0px; -moz-border-radius: 0px 3px 3px 0px; -webkit-border-radius: 0px 3px 3px 0px; border-radius: 0px 3px 3px 0px;}
.dataTables_wrapper .dataTables_paginate .previous:hover	{ background: url('../images/arrow_left_ovr.png') center center no-repeat !important; text-indent: -9999px; }
.dataTables_wrapper .dataTables_paginate .last			{ background: url('../images/arrow_rightend_off.png') center center no-repeat !important; margin: 0px 0px 0px 0px; text-indent: -9999px; border-left-width: 0px; -moz-border-radius: 0px 3px 3px 0px; -webkit-border-radius: 0px 3px 3px 0px; border-radius: 0px 3px 3px 0px;}
.dataTables_wrapper .dataTables_paginate .last:hover		{ background: url('../images/arrow_rightend_ovr.png') center center no-repeat !important; text-indent: -9999px; }
.dataTables_wrapper .dataTables_paginate .next			{ background: url('../images/arrow_right_off.png') center center no-repeat !important; margin: 0px 0px 0px 4px; text-indent: -9999px; border-right-width: 0px; -moz-border-radius: 3px 0px 0px 3px; -webkit-border-radius: 3px 0px 0px 3px; border-radius: 3px 0px 0px 3px;}
.dataTables_wrapper .dataTables_paginate .next:hover		{ background: url('../images/arrow_right_ovr.png') center center no-repeat!important ; text-indent: -9999px; }

.dataTables_wrapper .center {
    margin: auto !important;
    text-align: center !important;
}
.dataTables_wrapper .icon_only {
	height: 16px;
	width: 16px;
	border: none;
	background: url("../images/icons_16.png") center center no-repeat;
	margin-left: 5px;
	cursor: pointer; 
	line-height: 1 !important;
}
.dataTables_wrapper .item-edit {
	background-position: 0 0;
}
.dataTables_wrapper .item-history {
	background-position: -144px 0;
}
.dataTables_wrapper .item-tracking{
	background-position: -80px 0;
}
.dataTables_wrapper .item-report  {
	background-position: -96px 0;
}
.dataTables_wrapper .item-shutdown{
	background-position: -32px -16px;
}
.dataTables_wrapper .item-turnon{
	background-position: -48px -16px;
}
.dataTables_wrapper .item-remove {
	background-position: -16px 0;
}
.dataTables_wrapper .item-publish {
	background-position: -112px 0;
}
.dataTables_wrapper .item-unpublish {
	background-position: -32px 0;
}
.dataTables_wrapper .item-new-car {
	background-position: 0 -16px;
}
.dataTables_wrapper span.total {
	position: relative;
	top: 2px;
	left: 5px;
}
.dataTables_wrapper span.total:BEFORE {
	content: '(';
}
.dataTables_wrapper span.total:AFTER {
	content: ')';
}

.dataTables_wrapper .nowrap-50 {
    overflow: hidden;
    padding-left: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 50px;
}
