.text-banner {background-color: #eee; min-height: 200px;}
.text-banner .banner-content .title {font-size: 3.667em; font-weight: 300; color: #222; text-transform: uppercase; letter-spacing: 0; margin-bottom: .125em;}
.text-banner .banner-content .subtitle {font-size: 1.5em; font-weight: 300; color: #666; text-transform: uppercase;}
.text-banner .banner-content.skin-1 {left: 8%; top: 51%;}
.text-banner .banner-content.skin-2 {left: 13%; top: 39%;}
.text-banner .banner-content.skin-3 {left: auto; top: 38%; right: 5%;}
.text-banner .banner-content.left {right: auto; left: 26%; top: 45%;}
.text-banner .banner-content.right {left: auto; right: 19%; top: 45%;}
.text-banner .banner-content.left .title,
.text-banner .banner-content.right .title {margin-bottom: .25em;}

body.wide-layout #footer,
body.boxed-layout #footer .container {background-color: #fff; color: #222; font-size: .91em; text-transform: uppercase;}
#footer .footer-links {padding: 0; margin-right: 40px;}
#footer .footer-links ul li a {font-weight: 400; padding: .25em 5px;}
#footer .footer-links li:not(:first-child ) a:before {content: none;}
#footer .footer-links ul li:first-child a {padding-left: 2px;}
ul.social-links li a i {color: #222; position: relative;}
ul.social-links li a i:after {
	content: '';
	border-bottom: solid 2px;
	border-color: transparent;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	transition: border-color 300ms ease;
	-moz-transition: border-color 300ms ease;
	-webkit-transition: border-color 300ms ease;
}
ul.social-links li a:hover i:after {border-color: inherit;}

#footer address,
#footer .store-switcher label,
#footer .form-language label,
#footer .form-currency label {font-size: 1em; color: #666;}
#footer .copyright + .store-switcher-wrapper {padding-left: 15px; margin-left: 15px; position: relative;}
#footer .copyright + .store-switcher-wrapper:before {content: ''; display: block; height: 20px; width: 1px; background-color: #ddd; position: absolute; left: 0; top: 50%; margin-top: -10px;}
#footer .store-switcher-wrapper {margin-top: .5em;}
#footer .copyright,
#footer .store-switcher-wrapper {display: inline-block;}
#footer .store-switcher {margin-top: 0;}
#footer .footer-links li:not(:first-child ) a:before {content: none;}
#footer .selectpicker {color: #222; border-color: transparent;}
#footer .selectpicker .caret {border-top-color: #666;}
#toTop {bottom: 50px;}
#footer .selectpicker {margin-top: -2px;}
#footer hr.solid {border-color: #ddd;}
#footer .btn:not(.selectpicker) {min-width: 1px;}
.wide-layout header.header-7 .top-block,
.boxed-layout  header.header-7 .top-block .container {padding-top: .25em; padding-bottom: .25em;}
header.header-7 .wrapper-menu {margin-top: .5em;}
header.header-7 h2.logo {margin: .35em 10px;}

header.header-7 .links:not(.default-links) li a.top-link-login i.fa {display: none;}
header.header-7 .customer-name .user-icon,
header.header-7 .links:not(.default-links) li a.top-link-login {
	width: auto;
	height: auto;
	line-height: normal;
	font-size: 1em;
	text-transform: uppercase;
	font-weight: 400;
	border: none;
	margin: 0;
	padding: 0;
	background-color: rgba(0,0,0,0);
}
header.header-7 .search-mini-form {margin: 0;}
header.header-7 .form-search .search-button,
header.header-7 .form-search .search-button span {display: inline-block; text-transform: uppercase; background-color: rgba(0,0,0,0);}
header.header-7 .form-search .search-button span {padding-top: 1px; cursor: pointer; color: #222;}
header.header-7 .form-search .search-button i.fa {display: none;}
header.header-7 .form-search {position: relative; margin: 0;}
header.header-7 .form-search input {width: 240px;}
header.header-7 .form-search .indent {display: none; position: absolute; top: 20px; z-index: 99; right: 0; box-shadow: 0 0 3px rgba(0,0,0,.2); background: #fff; padding: 1.5em 20px; width: 306px;}
header.header-7 .form-search .search-button span {transition: color 300ms ease; -moz-transition: color 300ms ease; -webkit-transition: color 300ms ease;}
header.header-7 .form-search .search-button span:hover,
header.header-7 .customer-name .user-icon:hover,
header.header-7 .links:not(.default-links) li a.top-link-login:hover {color: #e1ae7c; background-color: transparent;}

#ajaxkit-popup-content .product-view .add-to-links i {color: #e1ae7c; border-color: #e1ae7c;}
#ajaxkit-popup-content .product-view .add-to-links i:hover {background-color: #e1ae7c; border-color: #e1ae7c; color: #fff;}

header.header-7 .top-cart .block-title {font-family: inherit;}
header.header-7 .top-cart .block-title .title-cart {font-size: 1em; font-weight: 400; text-transform: uppercase; font-family: inherit; padding: 0; margin: 0;}
header.header-7 .top-cart .block-title .cart-qty {background-color: rgba(0,0,0,0); width: auto; height: auto; line-height: normal; font-size: 1em; font-family: inherit; min-width: 1px;}
header.header-7 ul.topmenu li.level0 a.level-top {font-size: 1em; font-weight: 400;}
header.header-7 ul.topmenu li.level0 a.level-top > i.fa {display: none;}
header.header-7 .welcome-msg {font-size: 1em; font-weight: 400; text-transform: uppercase; margin: 1.66em 20px 1.6em 10px;}
header.header-7 .language-currency-wrapper {margin-top: 0;}
header.header-7 .right-wrapper {margin-right: 20px; padding: 1.5em 0;}

header.header-7 .category-label {top: 2px;}

#sticky-header .small-logo {margin: .33em 0;}
#sticky-header .top-cart .block-title {font-family: inherit;}
#sticky-header .top-cart .block-title .title-cart {font-size: 1em; font-weight: 400; text-transform: uppercase; font-family: inherit; padding: 0; margin: 0;}
#sticky-header .top-cart .block-title .cart-qty {font-size: 1em; color: #e1ae7c;}
#sticky-header  .search-mini-form {margin: -.5em 0;}
ul.topmenu li.level0 a.level-top {font-size: 1em; font-weight: 400;}
ul.topmenu li.level0 a.level-top > i.fa {display: none;}

.products-grid li.item,
.products-list li.item {margin-bottom: 1.5em;}

.products-grid .product-name a,
.products-list .product-name a,
.footer-products-list .product-name a {font-size: 1em; font-weight: 400; text-transform: uppercase;}
.widget-products .category-name {font-size: .91em; margin-bottom: .75em;}

.price {color: #e1ae7c; font-size: 1.5em;}

#footer .bootstrap-select .dropdown-menu {background-color: #fff;}
#footer .bootstrap-select .dropdown-menu li a:hover {background-color: #ddd; color: inherit;}
#footer address a:hover {opacity: .8;}
header.header-7 .right-wrapper .top-link-login.AjaxKit-Singlton-Click .AddToCart-loader {left: auto; margin-left: 0; right: -24px;}
.menu-block .navbar-default .navbar-toggle:hover,
.menu-block .navbar-default .navbar-toggle:active {background-color: #222;}

a:hover {color: inherit!important; text-decoration: underline;}
ul.topmenu li.level0 a.level-top:hover,
ul.topmenu li.level0.over a.level-top,
ul.topmenu.navbar-nav li.level0.active > a.level-top {border-color: #222; color: inherit;}

.rev_slider_wrapper .tp-leftarrow.default,
.rev_slider_wrapper .tp-rightarrow.default {color: #666; border-color: #666;}
body .btn-default {
	color: #282828;
	background-color: #EDEDED;
	border-color: #EEEEEE;
	font-weight: normal;
	padding: 4px 15px;
}
body .btn-default i {transition: none; -moz-transition: none; -webkit-transition: none;}
body .btn-quickview {color: #666666; background-color: #fff; border-color: #666666; font-weight: normal;}
body .widget .widget-title,
.widget-title {margin-bottom: 1.5em;}
@media only screen and (min-width: 1008px) and (max-width: 1331px) { 
	.header.header-7 .form-search .search-button {height: auto; line-height: normal; width: auto; border: none;}
	.text-banner .banner-content .title {font-size: 3em;}
	.text-banner .banner-content .subtitle {font-size: 1.16em;}
	.text-banner .banner-content.right {right: 10%;}
	.text-banner .banner-content.left {left: 16%;}
	#footer .footer-links {text-align: left;}
	#shopping-cart-table .product-name a {max-width: 45%;}
}
@media only screen and (min-width: 768px) and (max-width: 1007px) {
	.header.header-7 .form-search .search-button {height: auto; line-height: normal; width: auto; border: none;}
	.text-banner .banner-content .title {font-size: 3em;}
	.text-banner .banner-content .subtitle {font-size: 1.16em;}
	.text-banner .banner-content.right {right: 1%;}
	.text-banner .banner-content.left {left: 10%;}
	.header.header-7 a.logo {margin: 0;}
	#header.header-7 .menu-block .navbar-default .navbar-toggle{display: inline-block; margin: .125em 0; text-transform: uppercase;}
	.header.header-7 ul.topmenu li.level0 a.level-top {padding: .75em 0!important;}
	#footer .footer-links {text-align: center; width: 100%; margin-right: 0; font-size: .91em;}
	.header.header-7 .topmenu.navbar-collapse {left: -10px;}
	
	.products-grid li.item.type-10 .quickview-wrapper.type-1 {top: auto; bottom: 10px; margin: 0; text-align: right;}
	.products-grid li.item.type-10 .quickview-wrapper.type-1 .btn-quickview  {padding: 6px 10px; margin: 0 10px 0 0;}
	.products-grid li.item.type-10 .quickview-wrapper.type-1 .btn-quickview span span {display: none;}
	.products-grid li.item.type-10 .quickview-wrapper.type-1 .btn-quickview > span:before {
		content: '\f002';
		display: inline-block;
		font: normal normal normal 12px/1 FontAwesome;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}
@media only screen and (max-width: 767px) {
	.text-banner .banner-content .title {font-size: 2em;}
	.text-banner .banner-content .subtitle {font-size: 1.16em;}
	.text-banner .banner-content.right {right: 1%;}
	.text-banner .banner-content.left {left: 10%;}
	header.header .top-cart .block-title .title-cart .top-cart-label {display: inline-block;}
	#footer .footer-links {text-align: center; width: 100%; margin-right: 0; font-size: .91em;}
	#footer .top-block {text-align: center;}
	#footer .social-links-wrapper {float: none!important;}
	#footer .copyright + .store-switcher-wrapper:before {content: none;}
	#footer .copyright + .store-switcher-wrapper {margin: 0; padding: 0;}
	
	.header.header-7 h2.logo {float: none; clear: both; margin: 0 auto; width: 100%;}
	.header.header-7 .right-wrapper {margin-right: 0; clear: none; float: right!important; padding-top: 1.5em; padding-bottom: .25em;}
	.header.header-7 .links {float: right; width: auto; margin-left: 10px;}
	.header.header-7 .top-cart {float: right; width: auto; margin-left: 10px;}
	.header.header-7 .search-mini-form {float: right; clear: none; padding: 0;}
	.header.header-7 .language-currency-wrapper {margin: -1px 0 0 10px; width: auto;}
	#header.header-7 .menu-block .menu-button {display: block;}
	.header.header-7 .links:not(.default-links) li a.top-link-login {height: auto; width: auto; line-height: normal; font-size: 1em; background: none;}
	.header.header-7 .topmenu.navbar-collapse {left: 0;}
	.header.header-7 ul.topmenu li.level0 a.level-top {padding: .75em 0!important;}
	.header.header-7 .form-search {position: static;}
	.header.header-7 .form-search .indent {top: 100%; width: 320px;}
	.header.header-7 .language-currency-dropdown {left: auto; right: 50%; margin-right: -116px;}
	
	.products-grid li.item.type-10 .quickview-wrapper.type-1 {top: auto; bottom: 10px; margin: 0; text-align: right;}
	.products-grid li.item.type-10 .quickview-wrapper.type-1 .btn-quickview  {padding: 6px 10px; margin: 0 10px 0 0;}
	.products-grid li.item.type-10 .quickview-wrapper.type-1 .btn-quickview span span {display: none;}
	.products-grid li.item.type-10 .quickview-wrapper.type-1 .btn-quickview > span:before {
		content: '\f002';
		display: inline-block;
		font: normal normal normal 12px/1 FontAwesome;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}