$toggle-width : 49px;

.smart-form {
  .toggle.input-public {
    min-height: 30px;

    i {
      width: 80px;
      height: 20px;

      &:after {
        line-height: 14px;
      }

      &:before {
        top: 5px;
      }
    }

    input:checked + i:before {
      right: 65px;
    }

    .label-input {
      font-size: 13px;
    }
  }

  .select {
    .icon-prepend {
      z-index: 99;

      + .select2-container .select2-choices{
        padding-left: 30px;
      }
    }
  }

  input[type=text]:read-only {
    background-color: #eeeeee;
  }

}

.select2-drop-multi .select2-results {
  .level-1 {
    font-weight: bold;
  }

  .level-2, .level-3, .level-4{
    .select2-result-label:before{
      content: ' ';
      display: inline-block;
    }
  }

  .level-2 .select2-result-label:before {
    width: 15px;
  }

  .level-3 .select2-result-label:before {
    width: 30px;
  }

  .level-4 .select2-result-label:before {
    width: 45px;
  }
}
