//@import "fonts/font-awesome";
@import "custome/demo";
@import "custome/_type_a_head.scss";
@import "custome/overwrite_input";
@import "custome/table_content";
@import "plugin/cke_textarea";
#imgs_thumb {
}
#imgs_thumb > [class*='col-']{
	padding-bottom: 15px;
}
#imgs_thumb .thumb {
	border: 1px solid #bdbdbd;
	display: block;
	overflow: hidden;
}
#imgs_thumb .thumb:before{
    content:'';
    padding:50% 0; /* vertical value as  100% equals width */
    display:inline-block;
}

#imgs_thumb img {
	width: 100%;
	height: auto;
}

.row.multiple-image {
	> [class^=col-]{
		position: relative;
		display: inline-block;
	}

	.col-square {
		margin-top: 100%;
		display: block;
	}
	.col-square-content {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		border: 1px dashed #333333;

		.fa {
			font-size: 50px;
			margin: calc(50% - 20px);
		}
	}
}
/*
Fix
 */
.smart-form .input .icon-prepend + textarea.form-control {
  padding-left: 37px;
}

/*
Fix Editor.md Auto Height
 */
//.CodeMirror-scroll {
//	margin-top: 40px;
//}

.label-normal {
	font-size: 100%;
	font-weight: normal;
}

.highlight {
	i {

	}
	&.success {
		background: yellow;
	}
}

.label .highlight {
	color: #0a0c0f;
}