
#imgs_thumb {
}
#imgs_thumb > [class*='col-']{
	padding-bottom: 15px;
}
#imgs_thumb .thumb {
	border: 1px solid #bdbdbd;
	display: block;
	overflow: hidden;
}
#imgs_thumb .thumb:before{
    content:'';
    padding:50% 0; /* vertical value as  100% equals width */
    display:inline-block;
}

#imgs_thumb img {
	width: 100%;
	height: auto;
}

img.maxw_200 {
	max-width: 200px;
}
img.maxw_50 {
	max-width: 50px;
}