
.content-box { 
	border-width: 1px; 
	border-style: solid; 
	border-color: #DDDDDD #DDDDDD #C4C4C4 #DDDDDD; 
	background: #FFFFFF; 
	margin-bottom: 30px; 
	-moz-border-radius: 5px 5px 5px 5px; 
	-webkit-border-radius: 5px 5px 5px 5px; 
	border-radius: 5px 5px 5px 5px;}
.content-box .box-header{ 
	min-height: 36px; 
	background: url('../images/bck_header.png') top center repeat-x; 
	position: relative; 
	-moz-border-radius: 4px 4px 4px 4px; 
	-webkit-border-radius: 4px 4px 4px 4px; 
	border-radius: 4px 4px 4px 4px;
}
.content-box .box-body		{ border: 2px solid #FFFFFF; background: #F5F5F5; -moz-border-radius: 4px 4px 4px 4px; -webkit-border-radius: 4px 4px 4px 4px; border-radius: 4px 4px 4px 4px;}
.content-box .box-wrap		{ padding: 20px 20px 10px 20px; }
.box-header h2	{ 
	color: #333333; 
	line-height: 24px; 
	margin-bottom: 0px; 
	padding: 7px 20px 9px 20px;
	display: block;
/*	background: url('../images/rule.gif') bottom left repeat-x; */
}
.box-header .tabs		{ position: absolute; top: 7px; right: 10px; }
.box-header .tabs li		{ float: left; margin-left: 3px; font-size: 11px; line-height: 20px; font-weight: bold; }
.box-header .tabs li a		{ background: url('../images/button_glas2.png') center center repeat-x #EEEEEE; border: 0px solid #FFFFFF; display: block; color: #333333; text-decoration: none; padding: 2px 15px 2px 15px; -moz-border-radius: 3px 3px 3px 3px; -webkit-border-radius: 3px 3px 3px 3px; border-radius: 3px 3px 3px 3px; }
.box-header .tabs li a:hover	{ background: #FFFFFF; text-decoration: none; }
.box-header .tabs li.active a	{ color: #FFFFFF; background: url('../images/button_glas1.png') center center repeat-x #4DB800; border: 0px solid #333333; }
.box-header .tabs li a.selected	{ color: #FFFFFF; background: url('../images/button_glas1.png') center center repeat-x #4DB800; border: 0px solid #333333; }

.vndtext {
	font-size: 90%;
	font-style: italic;
	color: #4DB800;
}
.vndtext:AFTER {
	content: ')';
	padding-left: 5px;
}
.vndtext:BEFORE {
	content: '(';
	padding-right: 5px;
}